<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.kanawish.thingmr"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.google.android.things.permission.MANAGE_SENSOR_DRIVERS" />

    <application
        android:name=".MainApp"
        android:allowBackup="false">
        <uses-library android:name="com.google.android.things" />

        <service android:name=".AccelerometerService" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.IOT_LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".grovepi.GrovePiActivity" />
    </application>

</manifest>